# STM32CubeIDE / GCC Derleme Çıktıları (Object, Dependency dosyaları vb.)
Debug/
Release/
*.o
*.d
*.cyclo
*.mk
*.su
*.elf
*.bin
*.hex
*.map
*.list

# IDE'nin ürettiği geçici yerel ayar dosyaları
.settings/
.launch